@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fde7f9;
  background-image: linear-gradient(315deg, #ebe7fd 0%, #aacaef 74%);
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li a {
  color: #084b81;
}

li a:hover {
  color: #346ab1;
}

.nav_bar {
  overflow-x: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  background-color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.4)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
  height: 100%;
  border: 5px solid linear-gradient(to right bottom, rgba(212, 212, 212, 0.7), rgba(255, 255, 255, 0.3));
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 300;
}

.mainSection {
  margin-left: 190px;
}

.navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 30px;
  margin-top: 10px;
}

.navlinks span {
  font-size: 12px;
  letter-spacing: 0.1rem;
  margin: 0;
}

.navlinks li a {
  display: block;
}

.navlinks li a span {
  margin-right: 8px;
  font-size: 18px;
}

.logo {
  padding: 30px;
}

.logo a h1 {
  font-family: "Courgette", cursive;
  color: #3f577c;
  font-weight: bold;
}

.burger {
  display: none;
  float: right;
}

.closebtn {
  display: none;
  float: right;
  margin-right: 20px;
  font-size: 32px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1020px) {
  .nav_bar {
    display: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .closebtn {
    display: block;
  }
  .mainSection {
    margin: 10px;
  }
  .burger {
    display: block;
  }
}

.card.card-body {
  background-color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.568)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.568), rgba(255, 255, 255, 0.3));
  border: 1px solid linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  -webkit-backdrop-filter: blur(5rem);
          backdrop-filter: blur(5rem);
  border-radius: 14px;
}

.createCustomer {
  padding: 12px;
  margin: 16px 0;
}

table tr th {
  font-weight: 600;
}

#total-orders {
  background-color: #58b1e8d7;
}

#orders-delivered {
  background-color: #5c90f2be;
}

#orders-pending {
  background-color: #5f69dbb2;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.863)), to(rgba(255, 255, 255, 0.774)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.863), rgba(255, 255, 255, 0.774));
  color: white;
  text-align: center;
  color: black;
}

.homeBox {
  margin-bottom: 50px;
}

.statusBox {
  margin-bottom: 30px;
}

.customerUpdate {
  margin-bottom: 18px;
  padding: 14px;
  margin-top: 10px;
}

.customerInfo p,
.customerInfo h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */